@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
:root{
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

body{
    background: var(--eye-ball);
}


/* BASIC STYLING */













/* HEADER STYLING */










/* SECTION STYLING */











/* FOOTER STYLING */




































/* MEDIA QUERIES */